---
openapi: 3.0.0
info:
  title: Sauce API Demo API
  description: This is a sample server for the API. Used in saucectl api repo.
  version: 1.0.0
externalDocs:
  description: Find out more about Sauce Labs API Testing
  url: https://saucelabs.com/platform/api-testing
servers:
  - url: https://m2-saucectl.load2.apifortress.com/api/retail
tags:
  - name: demo
    description: Demo API for API Fortress
    externalDocs:
      description: Learn more about Sauce Labs API testing from our documentation
      url: http://docs.saucelabs.com/api-testing/
paths:
  /product:
    get:
      tags:
        - product
      summary: Get products
      operationId: getProducts
      security:
        - ApiKeyAuth: []
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Products'
        "400":
          description: Invalid key/value supplied
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: key
  schemas:  
    Products:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
          example: Baseball Cap         
        price:
          type: number
          format: float 
        category:
          type: string
          example: 1
        description:
          type: string
          example: This is product 1!
        quantity:
          type: integer
          format: int64         
        imageURL:
          type: string
          example: http://image.com
        color:
          type: array
          items:
            type: string
        createdAt:
          type: string
        updatedAt:
          type: string
